<!DOCTYPE html>
<html>
<head>

	

</head>
<body>

    <div id="balance_notice"> 

    </div>
    <br><br>
	<h2>USER DETAILS</h2>
	<div id="top">
		<img src="<%=@file%>" id="pic" style="height: 100px; width: 100px; border-radius: 50%; border: 1px solid grey;">
		<br>
		
		<div id="text">
		Name:  <%=@curuser.name%><br>
		Email: <%=@curuser.email%><br>

		Password: <%=@curuser.password.first%>

		<%for i in 2..@len1%>
			 *
		<%end%>	
		</div>
	</div>
	<br>
	<h2>BANK DETAILS</h2>
	Username: <%=@curaccount.username%><br>
	Password: <%=@curaccount.password.first%>
	<%for i in 2..@len2%>
		 *
	<%end%>	<br>


	<form action="/changeaccountinfo" method="POST" id="change_balance">
			Balance: <input type="number" name="changedbalance" value="<%=@curaccount.balance%>" >
		<input type="submit" value="save changes">

	</form>	
	<br><br><br><br>
	<div id="balance">
		
	</div>

	<a href="/dashboard">Go Back</a>

</body>
</html>



